ul.subnav {
  display:none;
  background:none repeat scroll 0 0 #333;
  border-bottom:3px solid #DE93C3;
  float:left;
  padding:20px 5px 0;

  position:relative;
  left:-50%;
  width:250px;
  margin-top:15px
}
ul.subnav li{
  border:none;
  border-bottom:1px solid #ccc;
  padding:5px;
  float:left;
  width:100px;
  /*background-color:black;*/
  overflow:hidden
}
