<div class="grid_4">
  Display This months Events
</div>
<div class="grid_4">
  Display last 10 blog posts
</div>

<div class="grid_4">
  Display last 10 ppt
</div>


<div class="grid_4">
  Display last 10 discussion

</div>
